.spinner {
  position: relative;
  margin: 0.8rem;
}
.spinner .spin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.625rem;
  height: 1.25rem;
  transform: translate(-50%, -50%);
  animation: spinner 2s ease-out infinite;
}
.spinner .spin .branch {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.125rem;
  height: 0;
  transform: translate(-50%, -50%);
}
.spinner .spin .branch:before,
.spinner .spin .branch:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #699bff;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 100%;
}
.spinner .spin .branch:before {
  top: 0%;
}
.spinner .spin .branch:after {
  top: 100%;
}
.spinner .spin .branch:nth-child(1) {
  animation: extend1 2s ease-out infinite;
  background-color: #3366cc;
}
.spinner .spin .branch:nth-child(1):before,
.spinner .spin .branch:nth-child(1):after {
  width: 0.625rem;
  height: 0.625rem;
}
.spinner .spin .branch:nth-child(2) {
  animation: extend2 2s ease-out infinite;
}
.spinner .spin .branch:nth-child(3) {
  animation: extend3 2s ease-out infinite;
}
.spinner:nth-child(1) .spin {
  animation-delay: 0.2s;
}
.spinner:nth-child(1) .spin .branch {
  animation-delay: 0.2s;
}
.spinner:nth-child(2) .spin {
  animation-delay: 0.4s;
}
.spinner:nth-child(2) .spin .branch {
  animation-delay: 0.4s;
}
.spinner:nth-child(3) .spin {
  animation-delay: 0.6s;
}
.spinner:nth-child(3) .spin .branch {
  animation-delay: 0.6s;
}
.spinner:nth-child(4) .spin {
  animation-delay: 0.8s;
}
.spinner:nth-child(4) .spin .branch {
  animation-delay: 0.8s;
}
.spinner:nth-child(5) .spin {
  animation-delay: 1s;
}
.spinner:nth-child(5) .spin .branch {
  animation-delay: 1s;
}
.spinner:nth-child(6) .spin {
  animation-delay: 1.2s;
}
.spinner:nth-child(6) .spin .branch {
  animation-delay: 1.2s;
}
.spinner:nth-child(7) .spin {
  animation-delay: 1.4s;
}
.spinner:nth-child(7) .spin .branch {
  animation-delay: 1.4s;
}
.spinner:nth-child(8) .spin {
  animation-delay: 1.6s;
}
.spinner:nth-child(8) .spin .branch {
  animation-delay: 1.6s;
}
.spinner:nth-child(9) .spin {
  animation-delay: 1.8s;
}
.spinner:nth-child(9) .spin .branch {
  animation-delay: 1.8s;
}
.spinner:nth-child(10) .spin {
  animation-delay: 2s;
}
.spinner:nth-child(10) .spin .branch {
  animation-delay: 2s;
}

@keyframes spinner {
  0%,
  25% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  75%,
  100% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

@keyframes extend1 {
  0%,
  25%,
  75%,
  100% {
    height: 0;
  }
  49%,
  51% {
    height: 6.4rem;
  }
}

@keyframes extend2 {
  0%,
  25%,
  85%,
  100% {
    height: 0;
  }
  54%,
  56% {
    height: 9.6rem;
  }
}

@keyframes extend3 {
  0%,
  25%,
  75%,
  100% {
    height: 0;
  }
  40% {
    height: 3.2rem;
  }
  60% {
    height: 0;
  }
  70% {
    height: 0.64rem;
  }
}
