.header {
  background-color: var(--black);
}

.title,
.subtitle {
  font-family: GuDianMingChaoTi;
}

.nav {
  animation: fade 0.3s ease-out;
}

.nav > a {
  @apply cursor-pointer p-2 flex transform duration-300;
}

.nav > a.active {
  color: var(--blue);
}

.nav svg {
  @apply mr-1;
}

.nav-over {
  @apply absolute top-20 right-4 p-4 flex flex-col rounded shadow-sm z-10;
  background-color: var(--black);
}

.nav-over svg {
  @apply mr-2;
}

.toggle span {
  @apply w-full my-1 rounded transform transition-all duration-500;
  height: 2px;
  background-color: var(--white);
}

.toggle.active span:first-child {
  @apply rotate-45 translate-y-2.5;
}

.toggle.active span:nth-child(2) {
  @apply opacity-0;
}

.toggle.active span:nth-child(3) {
  @apply -rotate-45 -translate-y-2.5;
}
