.side {
  width: 33.333333vw;
}

.title,
.subtitle {
  font-family: GuDianMingChaoTi;
}

.nav > a {
  @apply cursor-pointer p-2 transform duration-300 hover:scale-110;
}

.nav-y > a {
  @apply hover:translate-x-1;
}

.nav-x > a {
  @apply hover:-translate-y-1;
}

.nav > a.active {
  color: var(--blue);
}
