.app {
  @apply min-h-screen overflow-x-hidden select-none text-gray-200 tracking-wide 
  bg-gray-800 bg-no-repeat bg-fixed;
  padding-left: 33.333333vw;
  background-size: 100vw auto;
  background-position: left center;
  background-image: url('./assets/images/background.jpg');
}

.app::before {
  @apply fixed top-0 left-0 w-screen h-screen;
  content: '';
  background-color: var(--black-lighter);
}

/* page fade animation */
.fade {
  @apply w-full self-start;
  animation: fade 0.8s ease-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-appear,
.fade-in-enter {
  opacity: 0;
  transform: translateY(-3rem);
}
.fade-in-appear-active,
.fade-in-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-in-out;
}
.fade-in-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-exit-active {
  opacity: 0;
  transform: translateY(-3rem);
  transition: all 0.6s ease-in-out;
}
